<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tj.informationmanage.mapper.DrivingBasicOperationMapper">
   <sql id="operationParam">
	   drivingid_name,
	   driving_person_name,
	   driving_registered_address,
	   driving_number,
	   driving_registered_amount,
	   updatedate
   </sql>
   <sql id="operationParamIncludeId">
	   drivingid,
	   drivingid_name,
	   driving_person_name,
	   driving_registered_address,
	   driving_number,
	   driving_registered_amount,
	   updatedate
   </sql>
   <insert id="AddDriving">
	   insert into driving_table(<include refid="operationParam"/>)
	   value(
	   #{drivingvo.drivingid_name},
	   #{drivingvo.driving_person_name},
	   #{drivingvo.driving_registered_address},
	   #{drivingvo.driving_number},
	   #{drivingvo.driving_registered_amount},
	   #{drivingvo.updatedate}
	   )
   </insert>
   <delete id="DeleteDriving">
   delete from driving_table
	   <where>
		   <choose>
			   <when test="drivingid != null or drivingid != ''">
				 drivingid = #{drivingid,jdbcType=INTEGER}
			   </when>
			   <otherwise>
			     drivingid = '**'
			   </otherwise>
		   </choose>
	   </where>
   </delete>
   <delete id="BatchDeleteDriving">
   delete from driving_table
   where drivingid in 
   <foreach collection="list" item="drivingid" open="(" separator="," close=")">
    {drivingid}
   </foreach>
   </delete>
   
   <select id="QueryDrivingById" resultType="java.util.List">
     select <include refid="operationParamIncludeId"/>
    	 from driving_table
     where
     	 drivingid = #{drivingid,jdbcType=INTEGER}
   </select>
   <select id="QueryDrivingCurrency" resultType="java.util.List">
     select <include refid="operationParamIncludeId"/>
   		 from driving_table dt
     <where>
        1 = 1
        <choose>
           <when test="drivingvo.drivingid_name!=null or drivingvo.drivingid_name!=''">
            and drivingid_name like CONCAT('%',#{drivingvo.drivingid_name},'%')
            <!-- and drivingid_name like "%"#{drivingvo.drivingid_name}"%" -->
           </when>
           <when test="drivingvo.driving_person_name!=null or drivingvo.driving_person_name!=''">
            and driving_person_name like CONCAT('%',#{drivingvo.driving_person_name},'%')
           </when>
           <when test="drivingvo.driving_registered_address!=null or drivingvo.driving_registered_address!=''">
            and driving_registered_address like CONCAT('%',#{drivingvo.driving_registered_address},'%')
           </when>
           <when test="drivingvo.driving_number!=null or drivingvo.driving_number!=''">
            and driving_number like CONCAT('%',#{drivingvo.driving_number},'%')
           </when>
           <when test="drivingvo.driving_registered_amount!=null or drivingvo.driving_registered_amount!=''">
            and driving_registered_amount = #{drivingvo.driving_registered_amount}
           </when>
           <otherwise>
           
           </otherwise>
        </choose>
        
     </where> 
     order by dt.drivingid 
   </select>
   <update id="UpdateDriving">
      update driving_table dt 
      <set>
	      <if test="drivingvo.drivingid_name != null or drivingvo.drivingid_name != ''">
	       dt.drivingid_name = #{drivingvo.drivingid_name},
	      </if>
          <if test="drivingvo.driving_person_name != null or drivingvo.driving_person_name != ''">
           dt.driving_person_name = #{drivingvo.driving_person_name},
          </if>
          <if test="drivingvo.driving_registered_address != null or drivingvo.driving_registered_address != ''">
           dt.driving_registered_address = #{drivingvo.driving_registered_address},
          </if>
          <if test="drivingvo.driving_number != null or drivingvo.driving_number !=''">
           dt.driving_number = #{drivingvo.driving_number},
          </if>
          <if test="drivingvo.driving_registered_amount != null or drivingvo.driving_registered_amount !=''">
           dt.driving_registered_amount = #{drivingvo.driving_registered_amount},
          </if>
          dt.updatedate = sysdate()
      </set>
      <where>
         <choose>
           <when test="drivingvo.drivingid !=null or drivingvo.drivingid != ''">
             dt.drivingid = #{drivingvo.drivingid}
           </when>
           <otherwise>
             1&lt;&gt;1
           </otherwise>
         </choose>
      </where>
   </update>
   <insert id="BatchAddDriving" parameterType="java.util.List">
   		<selectKey resultType="java.lang.Integer" keyProperty="drivingid" order="AFTER">
   			SELECT LAST_INSERT_ID()
   		</selectKey>
   		insert into driving_table(<include refid="operationParam"/>)
   		values(
   			<foreach collection="list" item="drivingvolist" separator=",">
   				#{drivingvolist.drivingid_name},
   				#{drivingvolist.driving_person_name},
   				#{drivingvolist.driving_registered_address},
   				#{drivingvolist.driving_number},
   				#{drivingvolist.driving_registered_amount},
                sysdate()   				
   			</foreach>
   		)
   </insert>
</mapper>